{
    "branches": [
        "master",
        {
            "name": "beta",
            "prerelease": true
        },
        {
            "name": "alpha",
            "prerelease": true
        }
    ],
    "tagFormat": "${version}",
    "plugins": [
        "@semantic-release/commit-analyzer",
        "@semantic-release/release-notes-generator",
        [
            "@semantic-release/github",
            {
                "successComment": false,
                "failTitle": false
            }
        ],
        [
            "@semantic-release/exec",
            {
                "prepareCmd": "./semver.sh '${nextRelease.version}' 'src/MockServerClientNet/MockServerClientNet.csproj'",
                "successCmd": "echo 'new_release_version=${nextRelease.version}' >> $GITHUB_OUTPUT"
            }
        ],
        [
            "@semantic-release/git",
            {
                "assets": [
                    "MockServerClientNet.csproj"
                ],
                "message": "chore(release): ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
            }
        ]
    ]
}

